.tab {
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    line-height: 1.2;
}

.tab:after {
    content: '';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%) rotate(0);
    transform-origin: center center;
    height: 21px;
    width: 21px;
    -webkit-mask-image: url(arrow.svg);
    mask-image: url(arrow.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: .4s all ease;
    transition: .4s all ease;
    background-color: #000;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}
.tab:hover:after{
    background-color: #fff;
}
.tab.active:after {
    transform: translate(0, -50%) rotate(180deg);
    background-color: #fff;
}

.liss {
    display: none;
    padding: 15px;
}
/*-------------------------------*/
.wrap {
    width: 100%;
}

.wrapxp {
    width: 100%;
    overflow: hidden;
}
.bg-masking {
    background-color: #aaa;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 0;
}
.bg-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-contain {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.bimg {
    width: 100%;
    padding-top: 100%;
}

.bimg-w {
    max-width: 100%;
    display: block;
    margin: 0 auto; 
}
/*-------------------------------*/
.editOption-w {
    z-index: 15;
}
.editOption {
    position: absolute;
    right: 0;
    top: 0;
}
.editOption a {
    padding: 6px 15px;
    display: block;
    font-size: 80%;
    background-color: #22d171;
    color: #fff;
}
.editOption a:hover {
    color: #fff;
    background-color: #28a745;
}
/*-------------------------------*/
.schliess {
    content: '';
    display: block;
    background-image: url(../files/default/close.png);
    position: fixed;
    left: 50%;
    top: 15px;
    min-height: 30px;
    width: auto;
    background-size: auto 78%;
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
    z-index: 10;
    font-size: 30px;
    padding: 0 0 0 36px;
    line-height: 1;
    color: #fff;
    transform: translate(-50%,0);
}
span.close {
    position: fixed;
    z-index: inherit;
    height: 100vh;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
}

.zframe {
 outline: 0;   
}

/*============================================*/

.med {
    text-align: center;
}

.med .scon {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--clr01);
    margin: 0 0 0 12px;
    background-color: transparent;
    transition: .4s all ease;
    
    max-width: 35px;
    width: 35px;
    display: block;
}

.med .scon:hover {
    background-color: var(--clr01);
}

.med .bimg-w {
    padding: 9px;
}

.med .bimg {
    background-color: var(--clr01);
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -webkit-transition: .4s all ease;
    transition: .4s all ease;
    background-position: 0;
}

.med .scon:hover .bimg {
    background-color: #fff;
}

/*============================================*/

[mn="enlargement"] {
    overflow: visible;
}

[mn="enlargement"] h2 {
    color: #fff;
}

[mn="enlargement"] img {
    margin: 0 auto;
    display: block;
    max-height: 60vh;
}

[mn="enlargement"] * {
    outline: none;
}

/*============================================*/

.d-none {
    display: none;
}

/*============================================*/
.f {
    display: flex;
    flex-wrap: wrap;
}

ul.f,
ul.f > * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.f-j-c {
    justify-content: center;
}

.f-j-fs {
    justify-content: flex-start;
}

.f-j-fe {
    justify-content: flex-end;
}

.f-j-sa {
    justify-content: space-around;
}

.f-j-sb {
    justify-content: space-between;
}

.f-a-c {
    align-items: center;
}

.f-a-fs {
    align-items: flex-start;
}

.f-a-fe {
    align-items: flex-end;
}

.color-fff {
    color: #fff;
}

.f.els {
    width: auto;
    margin: 0;
    padding: 0;
}

.f.els > .el {
    list-style: none;
    list-style-type: none;
    max-width: 33.333%;
    flex: 0 0 33.333%;
}
/*============================================*/
/*    owl style                   */
/*============================================*/
[owl] .owl-dots {
    text-align: center;
    position: absolute;
    width: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

[owl] .owl-dot span {
    height: 13px;
    width: 13px;
    display: block;
    background-color: transparent;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid #fff;
}

[owl] .owl-dot.active span {
    background-color: #fff;
}

[owl] .owl-nav button {
    position: absolute;
    z-index: 2;
    font-size: 57px !important;
    margin: 0 15px !important;

}

[owl] .owl-nav button span {
    color: #fff;
}

[owl] .owl-next,
[owl] .owl-prev {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    z-index: 10;
    line-height: 1;
    border: 0;
    background: transparent;

}

[owl] .owl-prev {
    left: 0;
}

[owl] .owl-next {
    right: 0;
}

[owl] .item {
    height: auto;
    padding: 0 15px;
}
[owl] .owl-prev.disabled, [owl] .owl-next.disabled {
    display: none !important;
}
@media only screen and (max-width: 767px) {
    [owl] .owl-prev {
        left: 0;
    }

    [owl] .owl-next {
        right: 0;
    }
}

[owl] .owl-carousel .owl-stage-outer {
    overflow: hidden;
}

@media only screen and (max-width: 575px) {
    [owl] .owl-dots {
        display: none;
    }
}

/*============================================*/
/*    owl style                   */
/*============================================*/
/*============================================*/
/*    loader style                   */
/*============================================*/
.lds-dual-ring {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--clr01x, #fff);
    border-color: var(--clr01x, #fff) transparent var(--clr01x, #fff) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader,
.loader > div {
    content: '';
    display: flex;
    justify-content: center; 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .72);
    z-index: 20;
    text-align: center
}
.loader > div {
    flex-direction: column;
    max-height: 100vh;
    position: sticky;
    background-color: transparent;

}

/*============================================*/
/*    loader style                   */
/*============================================*/