

.cus-drop-main {
    position: absolute;
    width: 100%;
    z-index: 10;
    display: none;
    background-color: #000;
    color: #fff; 
}
.cus-drop-main > div {
    max-height: 200px; 
    overflow-y: auto;
}
.cus-drop-main.show,
input:focus + div .cus-drop-main {
    display: block;
}
.cus-drop {
    padding: 12px;
    background-color: #000;
    
    cursor: pointer;
    transition: .6s ease all; 
    /* display: none; */
}
.cus-drop.show {
    display: block;
}
.cus-drop:hover {
    background-color: var(--clr02);
}


/* ============================= */
/* ============================= */
[tog-onoff] {
    border: 0;
    cursor: pointer;
    border-radius: 6px
}
[tog-onoff][value="ON"] {
    background-color: #002709
}
[tog-onoff][value="OFF"] {
    background-color: #270000
}
 
/* ============================= */
/* ============================= */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ============================= */
/* ============================= */
.uis-w .slider-range-wrap {
    padding: 3px 12px 12px;
z-index: 3;
}
.uis-w .ui-widget-header {
height: 3px !important;
background: var(--clr01);
transform: translate(0, -50%);
}

.uis-w .ui-state-default,
.uis-w .ui-widget-content .ui-state-default,
.uis-w .ui-widget-header .ui-state-default {
border: 2px solid var(--clr01);
border-radius: 50%;
background: #fff;
}

.uis-w .ui-widget-content {
height: 1px !important;
border: 0;
background: #e0e0da;
transform: translate(0, -50%);
z-index: 10
}

.uis-w .ui-slider-horizontal .ui-slider-range1 {
top: -2px;
}

.uis-w .ui-slider-horizontal .ui-slider-handle {
top: 0;
transform: translate(0, -50%);
cursor: pointer;
}

.uis-w .ui-slider-handle {
outline: none;
}

.uis-w .ui-slider-handle .amount {
position: absolute;
left: 0;
bottom: 35px;
display: none;
width: 130px;
padding: 10px 0;
text-align: center;
margin-left: -55px;
font-weight: normal;
font-size: 14px;
color: #fff;
border: 1px solid var(--clr01);
background: var(--clr01);
}

.uis-w .ui-slider-handle .amount:after {
content: '';
display: block;
position: absolute;
bottom: -11px;
left: 50%;
right: 0;
width: 0;
height: 0;
margin-left: -5px;
border-top: 5px solid var(--clr01);
border-bottom: 5px solid transparent;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
background-color: transparent;
}
.uis-w .range-correspond {
    margin: 0 0 15px
}
.uis-w .range-correspond > div:nth-child(2):after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%; 
    width: 80%;
    height: 2px;
    background-color: var(--clr01x, #ccc);
    transform: translate(-50%, -50%)
}
.uis-w .range-correspond > div:nth-child(2) {
    flex: 0 0 45px;
    max-width: 45px;
}
.uis-w .range-correspond > div{
    flex: 1 0 0;
}
.uis-w .min-range,
.uis-w .max-range {
margin-top: 12px;
font-size: 12px;
color: #888;
}
.uis-w .min-range {
transform: translate(-50%,0)
}

.uis-w .max-range {
transform: translate(50%,0)
}

.uis-w .slider-range1-wrap {
position: relative;
width: 500px;
height: 200px;
margin: 0 auto;
padding: 40px 20px 60px 0;
}
/* ============================= */
/* ============================= */

.custom-select {
    position: relative; 
}
.custom-select.arrow:after {
    content: '';
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translate(0, -50%) rotate(0);
        transform-origin: center center;
        height: 15px;
        width: 15px;
        -webkit-mask-image: url(arrow.svg);
        mask-image: url(arrow.svg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition: .4s all ease;
        transition: .4s all ease;
        background-color: var(--clr01);
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.custom-select .select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.custom-select .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.custom-select .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.custom-select .select-items div,
.custom-select .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.custom-select .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.custom-select .select-hide {
    display: none;
}

.custom-select .select-items div:hover,
.custom-select .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* ====================================== */
/* ====================================== */

.field {
    margin: 0 0 10px;
}

.field :is(input, select, textarea) {
    margin: 0;
}
.inp-such-w i {
    position: absolute;
    right: 0;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr01);
    color: #fff;
    width: 50px;
    cursor: pointer
}
.input-w:not(.anders) input {
    padding-right: 50px
}