 .productsGridListing .itms {
     padding: 15px
 }

 .productsGridListing .itm {
     flex: 0 0 33.333%;
     max-width: 33.333%;
     text-align: center;
     padding: 15px;
     line-height: 1.1
 }

 .productsGridListing .itm-w {
     background-color: #929497;
     padding: 9px;
     cursor: pointer;
     transition: all .6s ease;
     color: #fff;
     height: 100%;
 }

 .productsGridListing .itm-w:hover {
     background-color: var(--clr01);
     color: #fff;
 }

 .productsGridListing .txt-w>div {
     padding: 3px 0 0
 }
 .productsGridListing .itm .bimg-w {
     overflow: hidden
 }
 .productsGridListing .itm .bimg {
     padding-top: 66%;
     transition: all .6s ease;
 }
 .productsGridListing .itm-w:hover .bimg {
     transform: scale(1.09);
 }

 .productsGridListing .itm-label,
 .productsGridListing .itm-inst {
     font-size: 80%
 }

 .productsGridListing .itm-ttl {
     font-family: var(--font-t1)
 }

 @media only screen and (max-width: 767px) {
     .productsGridListing .itm {
         flex: 0 0 50%;
         max-width: 50%;
     }

 }

 @media only screen and (max-width: 575px) {
     .productsGridListing .itms {
         padding: 0;
     }

     .productsGridListing .itm {
         flex: 0 0 100%;
         max-width: 100%;
         padding: 5px
     }

     .productsGridListing .itm-w {
         display: flex;
         flex-wrap: wrap;

     }

     .productsGridListing .itm-w>* {
         flex: 0 0 50%;
         max-width: 50%;
     }

     .productsGridListing .itm-w>div.txt-w {
         padding-left: 6px
     }
 }