.scrollTop {
    position: fixed;
    right: -115px;
    bottom: 240px;
    background-color: #fff;
    padding: 13px 18px 0px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    z-index: 900;
    font-size: 30px;
    border: 1px solid #4b4b35;
    cursor: pointer;
    opacity: 0;
    color: #4b4b35;
}

.scrollTop.appear {
    opacity: 1;
    right: 15px;
}

.appear:hover {
    border: 1px solid #fff;
    background-color: #4b4b35;
    color: #fff;
    opacity: 1;
}

@media (max-width: 600px) {
    .scrollTop.appear {
        opacity: 1;
        bottom: 0;
        right: 0;
    }
    .scrollTop {
        position: fixed;
        right: 0;
        bottom: -100px;
        background-color: transparent;
        padding: 15px 14px 0px;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
        z-index: 900;
        font-size: 35px;
        border-radius: 0;
        border: 0 solid #363636;
        cursor: pointer;
        opacity: 0;
        width: 100%;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 8));
        color: #fff;
        text-shadow: -2px 2px 8px rgba(0, 0, 0, .5);
    }
    .appear:hover {
        border: 0 solid #363636;
        color: #fff;
        border-radius: 0;
        opacity: 1;
        background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 8));
    }
}