:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    /*=====================*/
    /*=====================*/
    --nav-a-clr: #fff;
    --nav-ahov-clr: #EC1D2F;
    --nav-bgclr: #fff;
    --nav-fs: 120%;

    --navmob-a-clr: #fff;
    --navmob-ahov-clr: #fff;
    --navmob-bgclr: #fff;
    /*=====================*/
    /*=====================*/
    --pd-sec: 90px 0;
    --witmax1: calc(100% - 30px);
    --clr01: #EC1D2F;
    --clr02: #C1021A;
    --clr03: #1E1E25;
    --clr04:  #d60f1e;
    
    --clr-bd: #333;
    --clr-dt: #fff;
    --clr02t: #000;
    /*=====================*/
    /*=====================*/
    --font-b1: 'Poppins-Regular';
    --font-b2: 'Poppins-Light';
    
    --font-t1: 'Poppins-Bold';
    --font-t2: 'Poppins-Bold'; 

    --font-nav: 'Poppins-Regular';

    --font-xs: 60%;
    --font-s: 80%;
    --font-m: 16px;
    --font-l: calc(27 / 16 * 100%);
    --font-xl: calc(36 / 16 * 100%);
    --font-xxl: calc(45 / 16 * 100%);
}

@media (max-width: 767px) {
    :root {
        --font-xxl: calc(36 / 16 * 100%);
        --font-m: 16px;
        --pd-sec: 60px 0;
    }
}