@font-face {
    font-family: 'avenir95blackblackitalicBlkIt';
    
    src: url('fonts/avenir95black_oblique-webfont.eot');
    src: url('fonts/avenir95black_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir95black_oblique-webfont.woff') format('woff'),
         url('fonts/avenir95black_oblique-webfont.ttf') format('truetype'),
         url('fonts/avenir95black_oblique-webfont.svg#avenir95blackblackitalicBlkIt') format('svg');
    

}

@font-face {
	font-family: 'Conv_ProximaNova-Bold';
	src: url('fonts/ProximaNova-Bold.eot');
	src: local('?'), url('fonts/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_ProximaNova-BoldIt';
	src: url('fonts/ProximaNova-BoldIt.eot');
	src: local('?'), url('fonts/ProximaNova-BoldIt.woff') format('woff'), url('fonts/ProximaNova-BoldIt.ttf') format('truetype'), url('fonts/ProximaNova-BoldIt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_ProximaNova-Regular';
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('?'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}







input,textarea{ resize: none; outline: none;font-family: 'Arial'; font-size: 12px}



/*html, body { margin: 0;  background-color: #FFF; font-family: 'Conv_ProximaNova-Regular'; color: #000; font-size: 13px;  }*/
html, body { margin: 0;  background-color: #FFF; font-family: 'Conv_ProximaNova-Regular'; color: #000; font-size: 12px  !important; line-height: 18px !important; }
body{height:auto !important; padding: 0 0 15px 0; overflow: hidden; }
h1 { margin: 0; padding: 0; color: #000; font-size: 26px !important; font-weight: normal; line-height: 32px !important; }
h2 { margin: 0; padding: 0; color: #000;  font-size: 18px  !important; font-weight: normal; line-height: 24px !important; }
h3 { margin: 0; padding: 0; color: #000;  font-size: 14px  !important; font-weight: normal; line-height: 20px !important; }
p { margin: 0; padding: 0; color: #000; font-size: 12px  !important; font-weight: normal; text-align: left; line-height: 18px !important; }
div{ text-align: left} 
a:link, a:visited, a:active {  text-decoration: none; border: none; outline: none; }
a:hover {  text-decoration: none; border: none; outline: none; }
img { margin: 0; padding: 0; border: none; outline: none; }
table { margin: 0; padding: 0; border: none; outline: none; border-collapse: collapse}
table tr td{ border: none}
form { margin: 0; padding: 0; border: none; outline: none; }
section	{width: 100%;height: 100%;padding-top: 60px;}

ul{ margin: 0; padding: 0; list-style: none}
input[type=text],textarea{ resize: none; outline: none;text-transform: uppercase;}

.row {margin: 0;}

.clr{
    clear: both
}
/*.wrapper{ width: 1024px; margin: 0 auto; overflow: hidden}*/
/*.wrapper{ width: 1210px; margin: 0 auto; overflow: hidden; }*/
.wrapper{ width: 960px; margin: 0 auto; overflow: hidden; }
#main_wrapper{ overflow: hidden; position: absolute; z-index: 12;  display: none; }
/*#navigation_panel{  margin: 25px auto 0 auto; width: 1210px; height: 55px; overflow: hidden}*/
#navigation_panel{  margin: 35px auto 0 auto; width: 960px; height: 55px; overflow: hidden}
/*#navigation_panel{  margin: 0 auto; width: 1000px; height: 60px}*/
/*#navigation_panel #main_logo{ float: left; margin: 0 0 0 18px}*/
#navigation_panel #main_logo{ float: left; margin: 0 0 0 0}

.link_btn{min-width: 100px;}

.header {width: 100%;height: 60px;background: white;position: fixed;box-shadow: 0px 0px 5px gray;z-index: 10;}
.logo {background: url("../img/hondalogo.png") no-repeat left;width: 145px;height: 60px;margin-left: 30px;}

/*
#navigation_panel ul{ width: 850px; float: left}
#navigation_panel ul li{ float: left;  display: block; padding: 7px 10px 0 10px; min-height: 30px; text-align: center}
#navigation_panel ul li.last{border-right: none;}
#navigation_panel ul li #call_all_models_cta{ cursor: pointer}
#navigation_panel ul li.twoliner{ padding: 0}
*/
/*#navigation_panel ul{width: 990px; margin: 0 auto; padding: 0 0 0 0px; height: 30px; float:right;}*/
#navigation_panel ul{width: 791px; margin: 0 auto; padding: 0 0 0 0px; height: 30px; float:right;}
/*#navigation_panel ul>li{float: left; display: block; padding: 7px 10px 0 10px;  text-align: center; font-size: 12px; height: 50px; letter-spacing:0.5px;}*/
#navigation_panel ul>li{float: left; display: block; padding: 7px 5px 0 5px;  text-align: center; font-size: 12px; height: 50px; letter-spacing:0px;}
/*#navigation_panel ul>li ul.subnavigation_panel{position: absolute; width: 200px; z-index: 20; margin: 22px 0 0 -22px; background: #FFF; padding: 0; height: auto; display: none}*/
#navigation_panel ul>li ul.subnavigation_panel{position: absolute; width: 190px; z-index: 20; margin: 22px 0 0 -14px; background: #FFF; padding: 0; height: auto; display: none}
#navigation_panel ul>li:hover ul.subnavigation_panel{ display: block; z-index:	200}
/*#navigation_panel ul>li ul.subnavigation_panel > li{text-align: left; border-bottom: 1px solid #CCC; width: 150px; height: auto; padding: 10px 25px}*/
#navigation_panel ul>li ul.subnavigation_panel > li{text-align: left; border-bottom: 1px solid #CCC; width: 139px; height: auto; padding: 10px 25px}
#navigation_panel ul>li:hover>a,#navigation_panel ul>li:hover>div{ color: #cc0000}
#navigation_panel ul>li a,#navigation_panel ul>li div{ font-family: 'Conv_ProximaNova-Bold'; text-decoration: none; color: #383838}
/*#navigation_panel ul li.last{border-right: none;}
#navigation_panel ul li.last ul.subnavigation_panel{position: absolute; width: 150px; z-index: 5; border: 1px solid #CCC; margin: 30px 0 0 -95px; }*/

#navigation_panel ul li #call_all_models_cta{ cursor: pointer; margin-top: 2px}
#navigation_panel ul li.twoliner{ padding: 0}




#all_models_panel{background:  #FFF;  width: 100%; /* height: 570px; */ height: 400px; position: absolute;  z-index: 2000; overflow: hidden; display: none ;}

#all_models_panel ul{ width: 960px; margin: -350px auto 0 auto; list-style: none ;  padding: 0}
/*#all_models_panel ul li{ float: left;width: 160px; height: 160px; */ /*margin: 0 0 20px 0;*/ /*margin: 0 ; padding: 20px 5px 10px; text-align: center}*/
#all_models_panel ul li{ float: left;width: 150px; height: 150px; /*margin: 0 0 20px 0;*/ margin: 0 ; padding: 20px 5px 10px; text-align: center}

#all_models_panel ul li>a{ display: block; text-align: center; text-decoration: none}
#all_models_panel ul li>div,#all_models_panel ul li>a>div{ text-align: center}
#all_models_panel ul li .all_models_name{ color: #000; text-align: center;  font-size: 20px; font-family: 'Conv_ProximaNova-BoldIt'; letter-spacing: 0.5px;}

#all_models_panel ul li .all_models_starting_text{ color: #000; font-size: 12px; text-align: center; margin: 10px 0 0 0; font-family: 'Conv_ProximaNova-Regular', sans-serif; letter-spacing: 0.5px;}
#all_models_panel ul li .all_models_starting_price{text-align: left; font-size: 18px ; font-family: 'Conv_ProximaNova-Bold', sans-serif; color: #000; letter-spacing: 0.5px;}
#all_models_panel ul li .all_models_currency{ float: left; font-size: 12px; text-align: right; margin: 3px 0 0 32px; }
#all_models_panel ul li:hover{background: url("../graphic/hover.jpg") repeat-x;}
#all_models_panel ul li:hover div{  color: #FFF !important }
.page_currency{ float: left; font-size: 12px; text-align: right; margin:0 5px 0 0;}



/*
#all_models_panel{background:  #FFF;  width: 100%; height: 350px; position: absolute;  z-index: 20; overflow: hidden; display: none}

#all_models_panel ul{ width: 1000px; margin: -350px auto 0 auto}
#all_models_panel ul li{ float: left;width: 160px; height: 160px; margin: 0 0 20px 0 }
#all_models_panel ul li>div{ text-align: center}
#all_models_panel ul li .all_models_name{ color: #000; text-align: center; font-weight: bold; font-size: 14px}
#all_models_panel ul li .all_models_name:hover{ color: #FFF}
#all_models_panel ul li .all_models_starting_text{ color: #000; font-size: 12px; text-align: center; margin: 10px 0 0 0}
#all_models_panel ul li .all_models_starting_price{text-align: left; font-size: 18px}
#all_models_panel ul li .all_models_currency{ float: left; font-size: 12px; text-align: right; margin: 0 0 0 45px; }

*/


/*landing panel*/
#landing_panel{ width: 100%; overflow: hidden;  width: 960px; min-height: 515px; background-color:#000;}

/*#landing_panel img{ width: 100%}*/

/*#landing_carousel_panel{ background: url("../graphic/gradient_overlay.png") transparent; margin: -160px 0 0 0; width: 1210px; height: 160px;  position: absolute;overflow: hidden}*/
#landing_carousel_panel{ background: url("../graphic/gradient_overlay.png") transparent; margin: -160px 0 0 0; height: 160px;overflow: hidden}
#landing_carousel{ margin: 0 auto 0 auto; width: 810px; top: 30px ;  margin-top: 150px }
#landing_carousel li:first-child{ margin: 0}
#landing_carousel li{ margin: 0 0 0 2px}
#landing_banner_thumbnail{ width: 814px !important}
#landing_banner_thumbnail img{ width: 100%; cursor: pointer}
#landing_banner_thumbnail li{}
#landing_banner_thumbnail li.flex-active-slide{border:1px #f6f6f6 solid !important}
#landing_banner li{ overflow: hidden; width: 1210px; }
#landing_banner li .landing_banner_content_panel { position: absolute; top: 15%; left: 0.5%;  }
#landing_banner li .landing_banner_content_panel .landing_banner_title{ font-size: 24px; font-weight: bold}
#landing_banner li .landing_banner_content_panel .landing_banner_motto{ font-size: 16px; }

#home_hover_rollover {color: #cc0000; text-align: center; font-family: 'Conv_ProximaNova-Bold'; position: absolute; margin: -75px 0 0 -50px; width: 100px; text-align: center; left: 50%; z-index: 2; opacity:0.5; letter-spacing:0.5px;}
/*#home_news_panel{background: #000; opacity:0.7; position: absolute; height: 30px; z-index:2; width: 1210px;  padding: 0; margin-top: -30px; text-align: center; overflow: hidden}*/
#home_news_panel{background: #000; opacity:0.7; position: absolute; height: 30px; z-index:2; width: 960px;  padding: 0; margin-top: -30px; text-align: center; overflow: hidden}
#news_listing{ list-style: none; padding: 6px 0 0 0; margin: 0; height: 40px; overflow: hidden; background: url("../graphic/newsbg.png") repeat ; font-family: 'Conv_ProximaNova-Regular', sans-serif; letter-spacing:0.5px;}
#news_listing li{ height: 40px; width:100%;}
#news_listing li a{ color: #999999;}

 
 


#about_panel{ background: url("../graphic/background/about_bg.png") no-repeat; width: 100%; height: 100%; overflow-x: scroll}
#about_panel h1,#about_panel p{ color: #FFF}


#minimized_sidebar_panel{  background: #cc0000; margin: 20px 0 0 -1px; float: left; width: 202px ; position: absolute; z-index:5; height: 45px; background: url('../graphic/sidepanel/minimized_sidebar.png') no-repeat; display: none; cursor: pointer}
#minimized_list_icon{ background: url("../graphic/sidepanel/listing.jpg") no-repeat; width: 40px; height: 34px;   margin: 3px 0 0 0; float: left}
#show_minimized_sidebar_btn{float:  left; margin: 8px 10px 0 6px}
#text_in_minimized{ font-family: 'Conv_ProximaNova-Bold'; margin: 13px 0 0 10px; font-size: 14px; float: left }
#main_title_in_sidebar{ font-family: 'Conv_ProximaNova-Bold'; margin: 7px 0 0 13px; font-size: 14px; float: left; width: 100px;color: #000}
/*#sidebar_panel{  background: #cc0000; margin: 0; float: left; width: 185px ;  height: 564px; }*/
#sidebar_panel{  background: #cc0000; margin: 0; float: left; width: 150px ;  height: 515px; }
/*#sidebar_panel .honda_motto{ padding: 10px; font-weight: bold; font-size: 16px; color: #FFF; background-color:#f6f6f6;}*/
#sidebar_panel .honda_motto{ padding: 10px 4.5px 10px 4.5px; font-weight: bold; font-size: 16px; color: #FFF; background-color:#f6f6f6;}
#sidebar_panel>ul#main_side_menu{/*border-top: 3px solid #cc0000; */padding: 0 0 5px 0}
#sidebar_panel>ul#main_side_menu li>ul{ display: none; }

#sidebar_panel>ul#main_side_menu>li>ul>li>div{ background: #212121; color: #FFFFFF}
#sidebar_panel>ul#main_side_menu>li>ul>li>div:hover{ background: #000000}

#sidebar_panel ul#main_side_menu>li{ border-bottom: 1px solid #f50000}


#sidebar_panel>ul#main_side_menu>li:first-child>div{border-bottoM: none}
/*#sidebar_panel>ul#main_side_menu>li>div,.sidebar_link{ display: block;border-bottom: 1px solid #ad0000; padding: 9px 0 9px 18px; font-size: 10px;  font-style:normal; font-weight: bold; line-height: 16px;  color: #FFF; font-family: 'Conv_ProximaNova-BoldIt'; letter-spacing:0.5px;}
#sidebar_panel_civic>ul#main_side_menu>li>div,.sidebar_link{ display: block;border-bottom: 1px solid #ad0000; padding: 8px 0 8px 18px; font-size: 10px; font-style:normal; font-weight: bold; line-height: 16px; color: #FFF; font-family: 'Conv_ProximaNova-BoldIt'; letter-spacing:0.5px;}*/

#sidebar_panel>ul#main_side_menu>li>div,.sidebar_link{ display: block;border-bottom: 1px solid #ad0000; padding: 5px 0 5px 18px; font-size: 10px;  font-style:normal; font-weight: bold; line-height: 16px;  color: #FFF; font-family: 'Conv_ProximaNova-BoldIt'; letter-spacing:0.5px;}
#sidebar_panel_civic>ul#main_side_menu>li>div,.sidebar_link{ display: block;border-bottom: 1px solid #ad0000; padding: 5px 0 5px 18px; font-size: 10px; font-style:normal; font-weight: bold; line-height: 16px; color: #FFF; font-family: 'Conv_ProximaNova-BoldIt'; letter-spacing:0.5px;}

#sidebar_panel>ul#main_side_menu>li>ul>li>a{  padding: 10px; font-size: 12px; color: #666; display: block; background: #212121; }
#sidebar_panel>ul#main_side_menu>li>ul>li>div{ padding: 10px; font-size: 12px; color: #666; border-bottom: none}
.main_sidemenu_inpage_link { color: #666}
#sidebar_panel ul#main_side_menu>li>ul>li .selected{ color: #FFF}
#sidebar_panel #btn_update_profile {margin:5px auto; width: 129px; height: 264px; display: block;}

#sidebar_panel>ul#main_side_menu>li:first-child{ border-top: 1px solid #990000;}
.sidebar_link.selected,#sidebar_panel ul#main_side_menu li div:hover,#sidebar_panel ul#main_side_menu li div.selected{ color: #FFF; background: #333333}


/*.main_content_scrollable{ height: 564px}*/
.main_content_scrollable{ height: 515px}
#pagination_panel{position: fixed;  margin: 470px 0 0 320px; width: 150px; z-index: 6}
#pagination_panel #pagination_listing li{float:  left; margin: 0 0 0 12px; background: url("../graphic/icon-pagination.png"); width: 15px; height: 15px; cursor: pointer; }
#pagination_panel #pagination_listing li.selected{ background: url("../graphic/icon-pagination-selected.png");}
.model_icon{ background: #FFF; text-align:  center;}



#main_content_panel{ min-height: 390px }
#main_column_panel{ width: 415px; margin: 20px 0 0 40px; color: #FFF; float: left}
 

#page_content{ width: 100%; overflow: hidden; margin: 0 auto;}
#page_content_overlay{ opacity: 0.5; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);  background: #000; position: absolute; width: 100%; height: 100%; z-index: 10; display: none}
/*#horizontal_main_panel{  height: 564px; overflow: hidden; float: left; width: 1024px; margin: 0 0 0 0; }*/
#horizontal_main_panel{height: 515px;float: none;width: 810px;position: absolute;top: 60px;left: 0;right: 0;bottom: 0;margin: 0 auto;}

/*#footer_panel{font-family: 'Conv_ProximaNova-Bold',sans-serif; font-size:10px; letter-spacing:0.5px; margin-top:20px;}*/
#footer_panel{font-family: 'Conv_ProximaNova-Bold',sans-serif; font-size:10px; letter-spacing:0.5px; margin-top:20px; width:960px; height: 80px; margin:0 auto; padding-top:20px;}
#footer_panel #copyright {font-family: 'Conv_ProximaNova-Regular',sans-serif; margin-top:5px;}
/*#footer_panel ul{min-width: 620px; float:left; width:620px; margin-left:20px;}*/
#footer_panel ul{min-width: 500px; float:left; width:500px; margin-left:0px;}
#footer_panel ul li{ float: left; color: #000 ; margin: 0 20px 0 0}
#footer_panel ul li a{  color: #000; }
/*#footer_panel #footer_social_panel{ float: right; margin: 0 20px 0 0}*/
#footer_panel #footer_social_panel{ float: right; margin: -41px 0px 0 0}
#footer_panel #footer_social_panel img{ margin: 0 0 0 5px}
/** { margin: 0; padding: 0; border: none; outline: none; }*/

.special_select{ float: left;  border: 1px solid #cccccc; overflow: hidden;  text-align: center; cursor: pointer; background: #FFF; }
/*.special_select>div{padding: 9px 15px;width: 200px; min-height: 17px }*/
.special_select>div{padding: 9px 15px;width: 160px; min-height: 17px }
/*.special_select ul{ position: absolute; margin: 0 0 0 -1px; height: 200px; border: 1px solid #cccccc; width: 230px;  text-align: left; display: none; background: inherit; overflow-y: scroll; z-index: 4}*/
.special_select ul{ position: absolute; margin: 0 0 0 -1px; height: 200px; border: 1px solid #cccccc; width: 190px;  text-align: left; display: none; background: inherit; overflow-y: scroll; z-index: 4}
.special_select ul li{ padding: 5px 15px; cursor: pointer}
.special_select ul li:hover{ background: #CC0000; color: #FFF; }




/* maintenance */
.page_title{font-family: 'Conv_ProximaNova-BoldIt', sans-serif; font-size: 26px;}
.sub_title{font-family: 'Conv_ProximaNova-BoldIt', sans-serif; font-size: 20px;}


#periodical_maintenance_panel{background: #eeeeee}
#maintenance_name_listing { margin: 0 0 20px 0}
#maintenance_name_listing li{ font-size: 18px; font-weight: bold; float: left }
/*.maintenance_tab{ float: left; padding: 10px 20px; background: #f6f6f6; margin: 0 2px 0 0; cursor: pointer}*/
.maintenance_tab{ float: left; padding: 10px 20px; background: #f6f6f6; cursor: pointer}
.maintenance_tab.active{ background: #FFF}
table#maintenance_listing{ width: 99%; background: #FFF}
table#maintenance_listing tbody{ display: none; width: 100%}
table#maintenance_listing tbody.active{ display: block}
table#maintenance_listing tr th.even_row,table#maintenance_listing tr td.even_row{ background: #f6f6f6; width: 10%}
table#maintenance_listing tr td{ text-align: center; padding: 10px  20px; width: 20%}
table#maintenance_listing tr th{ padding: 10px 20px; width: 25%}
table#maintenance_listing tr .total_cost_row{ background: #000; color: #FFF}

/*#maintenance_notes_panel{ background: #f5f5f5; min-width:95%; max-width: 92%; margin: 50px 0 0 0; padding: 30px}*/
#maintenance_notes_panel{ background: #f5f5f5; width: 735px; margin: 50px 0 0 0; padding: 30px}


/*
#klims_wrapper {width: 1210px;height: 564px;background-color:black;position: relative;overflow: hidden;}
#klims_bg {width:1210px;height:564px;background: url(../graphic/landing/background.jpg);position: absolute;display: none}
#klims_today {width:177px;height:29px;background: url(../graphic/landing/ourtoday.png);position: absolute;top:-150px;left:30px;}
#klims_title {width:672px;height:98px;background: url(../graphic/landing/title.png);position: absolute;top:-150px;left:275px;}
#klims_subtitle {width:698px;height:20px;background: url(../graphic/landing/subtitle.png);position: absolute;top:-150px;left:260px;}
#klims_light {width:789px;height:469px;background: url(../graphic/landing/light.png);position: absolute;top:25px;left:320px;display: none}
#klims_win {width:640px;height:62px;background: url(../graphic/landing/win.png);position: absolute;bottom:-150px;left:280px;}
#klims_checkout {width:824px;height:43px;background: url(../graphic/landing/checkout.png);position: absolute;bottom:-150px;left:140px;}
*/
#mugen_wrapper {width: 1210px;height: 564px;background-color:black;position: relative;overflow: hidden;}
#mugen_bg {width:1210px;height:564px;background: url(../graphic/landing/klims/mugen_bg.jpg);position: absolute;}
#mugen_car {width:638px;height:372px;position: absolute;top:150px;left:1500px;}
#mugen_car_img {width:300px;}
#mugen_today {width:145px;height:25px;background: url(../graphic/landing/klims/mugen_tagline.png);position: absolute;top:50px;left:-200px;}
#mugen_logo {width:298px;height:34px;background: url(../graphic/landing/klims/mugen_logo.png);position: absolute;top:50px;left:-300px;}
#mugen_copy {position: absolute;top:50px;left:600px;opacity:0;}
#mugen_contents {left:100px;position: absolute;width:450px;height:150px;color:white;font-family: 'ProximaNova-Regular',arial}
#mugen_contents p{ color: #FFF}
#mugen_contents div {float: left;margin:20px 20px 0 0}
#mugen_contents h6{font-size: 14px;margin:0;padding: 0}
#mugen_contents p{font-size: 14px;margin:0;padding: 0}
#mugen_contents h5{font-style: italic;font-size: 14px;float: left;margin: 0;padding: 10px 30px 10px 0;background:url(../graphic/landing/klims/mugen_arrow.png) no-repeat right center;}
#mugen_title_glow {width:63px;height:63px;background: url(../graphic/landing/klims/mugen_title_glow.png);position: absolute;top:-20px;left: -20px;display: none;}
#mugen_glow {width:397px;height:147px;background: url(../graphic/landing/klims/mugen_glow.png);position: absolute;top:270px;left: 100px;display: none;}

.padding_bottom_20 { padding-bottom: 20px; }
.padding_top_5 { padding-top: 5px; }
.padding_top_10 { padding-top: 10px; }
.padding_top_15 { padding-top: 15px; }
.padding_top_20 { padding-top: 20px; }
.padding_top_30 { padding-top: 30px; }
.top_margin_10 { margin-top: 10px; }
.top_margin_20 { margin-top: 20px; }

.new_footer960 { margin: 10px 0px -5px 0px; color:#333 !important;}
.new_footer960 li a { margin: 10px 0px -5px 0px; color:#444 !important;}

.width_50percent1024 {width: 365px; float: left;}

.check_popup {background: white;width: 900px;height: 600px;z-index: 10;top: 0;right: 0;left: 0;bottom: 0;margin: auto;position: fixed;box-shadow: 0px 0px 10px gray;}
.popup_border { padding: 40px;}

.mobile_hub_popup {position: relative;top: 70px;left: 0;right: 0;margin: auto;width: 800px;height: 700px;background: white;border: 1px solid black;z-index: 5;}
.mobile_hub_content {color: black;padding: 20px;}
.mobile_hub_content h2, .mobile_hub_content h3 {color: black;font-weight: 600;} 
.mobile_hub_content table tr td {color: black;border: 1px solid black !important;padding: 5px 5px;font-size: 12px;}
.mobile_hub_content table {margin: 10px 0;}

.bottom-nav h3 {color: white;}
.bottom-nav .nav-btn {background: #cc0000;text-align: center;padding: 40px;}