@font-face {
    font-family: 'avenir95blackblackitalicBlkIt';
    
    src: url('fonts/avenir95black_oblique-webfont.eot');
    src: url('fonts/avenir95black_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/avenir95black_oblique-webfont.woff') format('woff'),
         url('fonts/avenir95black_oblique-webfont.ttf') format('truetype'),
         url('fonts/avenir95black_oblique-webfont.svg#avenir95blackblackitalicBlkIt') format('svg');
}

@font-face {
    font-family: 'Conv_ProximaNova-Bold';
    src: url('fonts/ProximaNova-Bold.eot');
    src: local('?'), url('fonts/ProximaNova-Bold.woff') format('woff'), url('fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonts/ProximaNova-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ProximaNova-BoldIt';
    src: url('fonts/ProximaNova-BoldIt.eot');
    src: local('?'), url('fonts/ProximaNova-BoldIt.woff') format('woff'), url('fonts/ProximaNova-BoldIt.ttf') format('truetype'), url('fonts/ProximaNova-BoldIt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ProximaNova-Regular';
    src: url('fonts/ProximaNova-Regular.eot');
    src: local('?'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}